
    h1,h3{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(39, 87, 146);
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blueviolet;
    }

